<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>160</h3>

                        <p>Raça(S)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53</h3>

                        <p>Origem(s)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>
                        <p>Temperamentos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Consultas</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <!-- ./col -->


   
            <!-- Lista de Raças -->
            <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Raças</h3>
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <ul class="products-list product-list-in-card pl-2 pr-2">
                    <li class="item">
                      <div class="product-img">
                        <img src="https://24.media.tumblr.com/ZabOTt2mpdqo1k32c9cXlmwz_250.jpg" alt="Exotic Shorthair" class="img-size-50">
                      </div>
                      <div class="product-info">
                        <a href="javascript:void(0)" class="product-title">Exotic Shorthair
                          <span class="badge badge-warning float-right">"Affectionate, Sweet, Loyal, Quiet, Peaceful"</span></a>
                        <span class="product-description">
                            The Exotic Shorthair is a gentle friendly cat that has the same personality as the Persian. They love having fun, don’t mind the company of other cats and dogs, also love to curl up for a sleep in a safe place. Exotics love their own people, but around strangers they are cautious at first. Given time, they usually warm up to visitors.
                        </span>
                      </div>
                    </li>
                    <!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="https://24.media.tumblr.com/tumblr_m0e7juhb6w1qdvbl3o1_250.jpg" alt="Egyptian Mau" class="img-size-50">
                      </div>
                      <div class="product-info">
                        <a href="javascript:void(0)" class="product-title">Egyptian Mau
                          <span class="badge badge-info float-right">Agile, Dependent, Gentle, Intelligent, Lively, Loyal, Playful</span></a>
                        <span class="product-description">
                            The Egyptian Mau is gentle and reserved. She loves her people and desires attention and affection from them but is wary of others. Early, continuing socialization is essential with this sensitive and sometimes shy cat, especially if you plan to show or travel with her. Otherwise, she can be easily startled by unexpected noises or events.
                        </span>
                      </div>
                    </li>
                    <!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="https://24.media.tumblr.com/tumblr_m2eeg5JMoh1qdvbl3o1_250.jpg" alt="Exotic Shorthair" class="img-size-50">
                      </div>
                      <div class="product-info">
                        <a href="javascript:void(0)" class="product-title">
                            Exotic Shorthair <span class="badge badge-danger float-right">
                            Affectionate, Sweet, Loyal, Quiet, Peaceful
                        </span>
                        </a>
                        <span class="product-description">
                            The Exotic Shorthair is a gentle friendly cat that has the same personality as the Persian. They love having fun, don’t mind the company of other cats and dogs, also love to curl up for a sleep in a safe place. Exotics love their own people, but around strangers they are cautious at first. Given time, they usually warm up to visitors.
                        </span>
                      </div>
                    </li>
                    <!-- /.item -->
                    <li class="item">
                      <div class="product-img">
                        <img src="https://27.media.tumblr.com/ZabOTt2mpdp9eik2kFmKyFqm_250.jpg" alt="British Shorthair" class="img-size-50">
                      </div>
                      <div class="product-info">
                        <a href="javascript:void(0)" class="product-title">British Shorthair
                          <span class="badge badge-success float-right">Affectionate, Easy Going, Gentle, Loyal, Patient, calm</span></a>
                        <span class="product-description">
                            The British Shorthair is a very pleasant cat to have as a companion, ans is easy going and placid. The British is a fiercely loyal, loving cat and will attach herself to every one of her family members. While loving to play, she doesn't need hourly attention. If she is in the mood to play, she will find someone and bring a toy to that person. The British also plays well by herself, and thus is a good companion for single people.
                        </span>
                      </div>
                    </li>
                    <!-- /.item -->
                  </ul>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">Visualizar outras Raças</a>
                </div>
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </div>

            
            <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Raças</h3>

                    <div class="card-tools">
                      <span class="badge badge-danger">8 Raças</span>
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <ul class="users-list clearfix">
                      <li>
                        <img src="https://27.media.tumblr.com/ZabOTt2mpdqo5pejZjrbvrzM_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">LaPerm</a>
                        <span class="users-list-date">Today</span>
                      </li>
                      <li>
                        <img src="https://24.media.tumblr.com/tumblr_m2eeg5JMoh1qdvbl3o1_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Selkirk Rex</a>
                        <span class="users-list-date">Yesterday</span>
                      </li>
                      <li>
                        <img src="https://24.media.tumblr.com/ZabOTt2mpdqo1k32c9cXlmwz_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Devon Rex</a>
                        <span class="users-list-date">12 Jan</span>
                      </li>
                      <li>
                        <img src="https://24.media.tumblr.com/tumblr_krvvj0ZbSA1qa9hjso1_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Norwegian Forest Cat</a>
                        <span class="users-list-date">12 Jan</span>
                      </li>
                      <li>
                        <img src="https://24.media.tumblr.com/ZabOTt2mpdpa0pvoivwO96Lb_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Exotic Shorthair</a>
                        <span class="users-list-date">13 Jan</span>
                      </li>
                      <li>
                        <img src="https://29.media.tumblr.com/tumblr_krvvxawUd81qa9hjso1_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Cornish Rex</a>
                        <span class="users-list-date">14 Jan</span>
                      </li>
                      <li>
                        <img src="https://30.media.tumblr.com/ZabOTt2mpdqnwi7cHMydz9WC_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Bombay</a>
                        <span class="users-list-date">15 Jan</span>
                      </li>
                      <li>
                        <img src="https://30.media.tumblr.com/tumblr_lw9gwe9DbF1qdvbl3o1_250.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Balinese</a>
                        <span class="users-list-date">15 Jan</span>
                      </li>
                    </ul>
                    <!-- /.users-list -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="javascript:">Visualizar todas as Raças</a>
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!--/.card -->
              </div>
  
            </div>
        </div>
        <!-- /.row -->
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Pesquisa(Nome,Origem,Temperamento)</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Id</th>
                      <th>Raça</th>
                      <th>Temperamento</th>
                      <th>Origem</th>
                      

                    </tr>
                    </thead>
                    <tbody>
                        <tr><th>View</th><th>Abyssinian</th><th>Active, Energetic, Independent, Intelligent, Gentle</th><th>Egypt</th></tr>
                        <tr><th>View</th><th>American Bobtail</th><th>Intelligent, Interactive, Lively, Playful, Sensitive</th><th>United States</th></tr>
                        <tr><th>View</th><th>American Curl</th><th>Affectionate, Curious, Intelligent, Interactive, Lively, Playful, Social</th><th>United States</th></tr>
                        <tr><th>View</th><th>American Shorthair</th><th>Active, Curious, Easy Going, Playful, Calm</th><th>United States</th></tr>
                        <tr><th>View</th><th>Balinese</th><th>Affectionate, Intelligent, Playful</th><th>United States</th></tr>
                        <tr><th>View</th><th>Birman</th><th>Affectionate, Active, Gentle, Social</th><th>France</th></tr>
                        <tr><th>View</th><th>Bombay</th><th>Affectionate, Dependent, Gentle, Intelligent, Playful</th><th>United States</th></tr>
                        <tr><th>View</th><th>British Shorthair</th><th>Affectionate, Easy Going, Gentle, Loyal, Patient, calm</th><th>United Kingdom</th></tr>
                        <tr><th>View</th><th>Burmese</th><th>Curious, Intelligent, Gentle, Social, Interactive, Playful, Lively</th><th>Burma</th></tr>
                        <tr><th>View</th><th>Chartreux</th><th>Affectionate, Loyal, Intelligent, Social, Lively, Playful</th><th>France</th></tr>
                        <tr><th>View</th><th>Cornish Rex</th><th>Affectionate, Intelligent, Active, Curious, Playful</th><th>United Kingdom</th></tr>
                        <tr><th>View</th><th>Devon Rex</th><th>Highly interactive, Mischievous, Loyal, Social, Playful</th><th>United Kingdom</th></tr>
                        <tr><th>View</th><th>Egyptian Mau</th><th>Agile, Dependent, Gentle, Intelligent, Lively, Loyal, Playful</th><th>Egypt</th></tr>
                        <tr><th>View</th><th>Exotic Shorthair</th><th>Affectionate, Sweet, Loyal, Quiet, Peaceful</th><th>United States</th></tr>
                        <tr><th>View</th><th>Havana Brown</th><th>Affectionate, Curious, Demanding, Friendly, Intelligent, Playful</th><th>United Kingdom</th></tr>
                        <tr><th>View</th><th>Japanese Bobtail</th><th>Active, Agile, Clever, Easy Going, Intelligent, Lively, Loyal, Playful, Social</th><th>Japan</th></tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Raça</th>
                        <th>Temperamento</th>
                        <th>Origem</th>

                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
    

    <!-- Main row -->
</section>
<!-- /.content -->
